.has-success span.help-block{
  display : none;
}

ul{
  list-style-type: none;
  margin : 0;
  padding : 0;
}

li{
  padding : 0;
}

html body .container .jumbotron{
  padding : 20px;
}

.form-control-feedback.glyphicon {
  display : none;
}

.delete-button{
  float : left;  
}